@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

* {
  font-family: "Open Sans", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  word-wrap: break-word;
  /* text-align: center; */
  background-color: #fafafa;

}
.MuiTableCell-root {
 font-size: 1.2rem !important;   
}
.MuiButton-label {
 font-size: 1.2rem !important;   
}

select {
  height: 2.1rem !important;
  font-size: 1.2rem !important;   
  padding: 0;
}